/* SITE STYLES */
@tailwind base;

@tailwind components;

@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    background-color: orange;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.h-74 {
    height: 20rem;
}

.h-86 {
    height: 24rem;
}

/* END OF SITE STYLES */

.title {
    font-family: 'Monoton', 'cursive';
}

/* TRANSITIONS */

.fade-enter-active {
    transition: opacity 3s, transform 2s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

[v-cloak] {
    display: none;
}
